body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.content {
    width: 1200px;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;

}
.card{
    width:300px;
    padding: 10px;
    transition: all 0.5s ease;
}
.card:hover {
    transform: scale(1.1);
}
.code {
    color: rgb(71, 71, 71);
    display: flex;
    justify-content: flex-end;
    font-size: 12px;
}
.img-product{
    max-width: 250px;
    width: 100%;
    margin: 10px;
}

.descr {
    color: rgb(61, 61, 255);
    display: block;
    margin-top: 5px;
    font-size: 12px;
}
h4{
    margin: 10px 0;
}
.discount {
    background-color: rgb(196, 6, 6);
    color: white;
    padding: 2px 8px;
}
.label-green {
    background-color: rgb(6, 160, 39);
    color: white;
    padding: 2px 8px;
    text-transform: uppercase;
}
.label-red {
    background-color: rgb(196, 6, 6);
    color: white;
    padding: 2px 8px;
    text-transform: uppercase;
}
.responce{
    display: flex;
    align-items: center;
}
.responce img{
    display: block;
    width: 10px;
    margin: 3px;
}
.responce span{
    display: block;
    color: rgb(71, 71, 71);
    margin-left: 15px;
}
.price-text {
    display: block;
    font-size: 12px;
    margin-bottom: 5px;
}
.price {
    font-size: 20px;
    color: rgb(216, 9, 9);
    font-weight: bold;
}
.cashback {
    background-color: rgb(253, 215, 168);
    font-weight: bold;
    padding: 2px 8px;
}
.price-discount {
    text-decoration: line-through;
    display: block;
    color: rgb(71, 71, 71);
    margin-top: 5px;
}
.buy {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 250px;
}
.buy div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70px;
}
.buy div img {
    filter: grayscale(100);
}
.btn {
    background-color: rgb(27, 103, 19);
    font-weight: bold;
    color: white;
    text-decoration: none;
    padding: 10px 35px;
    border-radius: 25px;
}
.code, .descr, .buy {
    display: none;
 }
 .card:hover .code, .card:hover .descr, .card:hover .buy {
    display: flex;
 }
